In [1]:
import sys
sys.path.append('C:\\Users\\PAT\\Documents\\edwisor\\projects\\misc')

In [2]:
from misc.__init__ import *
from misc.config import *

In [15]:
data = pd.read_csv(train_data_path)
data.isnull().sum()

area        0
bedrooms    1
age         0
price       0
dtype: int64

In [27]:
data

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [19]:
import math
data['bedrooms'] = data['bedrooms'].fillna(math.floor(data['bedrooms'].median()))

In [21]:
data

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [22]:
iv=data.drop(['price'], axis=1)#way 1
iv=data[['area','bedrooms','age']]#way 2
dv = data['price'].values

print(iv)
dv

   area  bedrooms  age
0  2600       3.0   20
1  3000       4.0   15
2  3200       3.0   18
3  3600       3.0   30
4  4000       5.0    8

array([550000, 565000, 610000, 595000, 760000], dtype=int64)

In [23]:
model = LinearRegression()
model.fit(iv, dv)
dv_test_pred = model.predict([[3000,3,40]])

In [26]:
def mape(actual, predicted):
    mape_ = np.mean(np.abs(actual-predicted)/actual)
    return mape_*100

print(100-mape(dv, dv_test_pred))#accuracy

73.0940172227618