In [1]:
# imports
import sys,os
sys.path.append('C:\\Users\\PAT\\Documents\\edwisor\\projects\\misc')
from misc.config import *

In [13]:
import pandas as pd
data = pd.read_csv(nb_file_path)

In [14]:
data.dtypes

weather    object
car        object
class      object
dtype: object

In [16]:
data

  weather      car      class
0   sunny  working     go-out
1   rainy   broken     go-out
2   sunny  working     go-out
3   sunny  working     go-out
4   sunny  working     go-out
5   rainy   broken  stay-home
6   rainy   broken  stay-home
7   sunny  working  stay-home
8   sunny   broken  stay-home
9   rainy   broken  stay-home

In [25]:
# we need to handle categ var in order to pass to any algorithm
# 1: using get_dummies to create a dummy column
dummy_data = pd.get_dummies(data,columns=data.columns)

In [31]:
# 2:#categ to numerical on our own
data.weather = data.weather.map({'rainy':0,'sunny':1})
data.car = data.car.map({'broken':0,'working':1})
data['class'] = data['class'].map({'go-out':1,'stay-home':0})

In [42]:
data

   weather  car  class
0        1    1      1
1        0    0      1
2        1    1      1
3        1    1      1
4        1    1      1
5        0    0      0
6        0    0      0
7        1    1      0
8        1    0      0
9        0    0      0

# using in-built naive bayes

In [43]:
from sklearn.model_selection import train_test_split
iv = data.drop(['class'],axis=1)
dv = data['class'].values
iv_train,iv_test,dv_train,dv_test = train_test_split(iv,dv,test_size =0.2,shuffle=True)

In [44]:
from sklearn.naive_bayes import GaussianNB

model = GaussianNB().fit(iv_train,dv_train)
dv_test_pred = model.predict(iv_test)
model.score(iv_test,dv_test)

1.0

In [ ]:
#fill dummy here TBD
iv = dumdata.drop(['class'],axis=1)
dv = data['class'].values
iv_train,iv_test,dv_train,dv_test = train_test_split(iv,dv,test_size =0.2,shuffle=True)

# manually

In [50]:
# calculate the prob of class =1(go-out) and class=0(stay-home)
p0,p1 = data['class'].value_counts()[0]/len(data),data['class'].value_counts()[1]/len(data)
p0,p1

(0.5, 0.5)

In [ ]:
#conditional probab now
pw1c1 =

In [64]:
#prob of col1 with val1, given col2 with value 2
def condprob(col1,val1,col2,val2):
    count = 0
    for row in range(len(data)):
        if data.loc[row,col1] == val1 and data.loc[row,col2] == val2:
            #print('y')
            count += 1
    return count/len(data[data[col2] == val2])

In [75]:
pc1c1 = condprob('car',1,'class',1)
pc1c0 = condprob('car',1,'class',0)
pc0c1 = condprob('car',0,'class',1)
pc0c0 = condprob('car',0,'class',0)


pvalue = {
    'pc1c1':pc1c1,
    'pc1c0':pc1c0,
    'pc0c1':pc0c1,
    'pc0c0':pc0c0
}

In [77]:
pw1c1 = condprob('weather',1,'class',1)
pw1c0 = condprob('weather',1,'class',0)
pw0c1 = condprob('weather',0,'class',1)
pw0c0 = condprob('weather',0,'class',0)

pvalue['pw1c1'] = pw1c1
pvalue['pw1c0'] = pw1c0
pvalue['pw0c1'] = pw0c1
pvalue['pw0c0'] = pw0c0

In [83]:
def cal_label_prob(v1,v2):
     return pvalue['pw'+str(v1)+'c1']*pvalue['pw'+str(v2)+'c1'],pvalue['pw'+str(v1)+'c0']*pvalue['pw'+str(v2)+'c0']

In [78]:
pvalue['pw'+str('0')+'c1']

0.2

In [85]:
for rowi in range(len(data)):
    print('pred for :' ,data.loc[rowi,'weather'],data.loc[rowi,'car'],data.loc[rowi,'class'])
    p1_row,p0_row = cal_label_prob(data.loc[rowi,'weather'],data.loc[rowi,'car'])
    data.loc[rowi,'pred'] = 1 if p1_row> p0_row else 0

pred for : 1 1 1
pred for : 0 0 1
pred for : 1 1 1
pred for : 1 1 1
pred for : 1 1 1
pred for : 0 0 0
pred for : 0 0 0
pred for : 1 1 0
pred for : 1 0 0
pred for : 0 0 0

In [86]:
data

   weather  car  class  pred
0        1    1      1   1.0
1        0    0      1   0.0
2        1    1      1   1.0
3        1    1      1   1.0
4        1    1      1   1.0
5        0    0      0   0.0
6        0    0      0   0.0
7        1    1      0   1.0
8        1    0      0   0.0
9        0    0      0   0.0

# 80 % accuracy in such small and conflicting dataset